<footer>
  <div class="uk-padding">
    <hr class="uk-divider-icon">
    <div class="uk-clearfix">
      <div class="uk-float-right">
        <span>Developed by</span>
        <a href="https://mfc.click/sagleft" target="_blank" rel="nofollow">@Sagleft</a>
        <br/>
        <span>Design by</span>
        <a href="https://mfc.click/daedarus" target="_blank" rel="nofollow">@Daedarus</a>
        <br/>
        <a href="https://github.com/Sagleft/coronavirus-infoportal" uk-icon="icon: github; ratio: 1.5" target="_blank" rel="nofollow"></a>
      </div>
      <div class="uk-float-left">
        <a href="#" class="uk-box-shadow-small uk-padding-micro" uk-icon="icon: facebook; ratio: 1.5"></a>
        <a href="#" class="uk-box-shadow-small uk-padding-micro" uk-icon="icon: twitter; ratio: 1.5"></a>
      </div>
    </div>
  </div>
</footer>
