<nav class="uk-navbar-container" uk-navbar>
	<div class="uk-navbar-center">
		<ul class="uk-navbar-nav">
			<li class="uk-box-shadow-hover-small">
				<a href="/">Статистика</a>
			</li>
			<li class="uk-box-shadow-hover-small">
				<a href="#" class="uk-link-muted">Как передается?</a>
			</li>
			<li class="uk-box-shadow-hover-small">
				<a href="#" class="uk-link-muted">Симптомы</a>
			</li>
      <li class="uk-box-shadow-hover-small">
				<a href="#" class="uk-link-muted">Профилактика</a>
			</li>
		</ul>
	</div>
</nav>
