<nav class="uk-navbar-container uk-box-shadow-small" uk-navbar>
	<div class="uk-navbar-center">
		<ul class="uk-navbar-nav">
			<li class="uk-box-shadow-hover-small">
				<a href="/"{% if page.tag == 'home' %} class="uk-active"{% endif %}>Статистика</a>
			</li>
			<li class="uk-box-shadow-hover-small">
				<a href="/info/vroutes" {% if page.tag == 'vroutes' %} class="uk-active"{% endif %}>Как передается?</a>
			</li>
			<li class="uk-box-shadow-hover-small">
				<a href="/info/symptoms" {% if page.tag == 'symptoms' %} class="uk-active"{% endif %}>Симптомы</a>
			</li>
      <li class="uk-box-shadow-hover-small">
				<a href="/info/prevention" {% if page.tag == 'prevention' %} class="uk-active"{% endif %}>Профилактика</a>
			</li>
		</ul>
	</div>
</nav>
