<div class="uk-child-width-expand@s" uk-grid>
	<div class="uk-width-1-3@m">
		<h1>Оперативные данные</h1>
		<span>По состоянию на {{ page.info.today }}</span><br/>
		<span>Республика Кипр</span>
	</div>
	<div class="uk-width-expand@m">
			<div class="charts-container cf">
				<!-- chart -->
				<div class="chart uk-box-shadow-medium" id="graph-1-container">
					<h5 class="text-center uk-margin-remove-bottom">Случаев заболевания {#{{ page.info.stats.confirmed_last }}#}</h5>
					<div class="charts-container">
						{% set chart = {'id': 'confirmed', 'index': '1'} %}
						{% include 'parts/main/chart.tmpl' %}
					</div>
				</div>
				<!-- chart -->
				<div class="chart uk-box-shadow-medium" id="graph-2-container">
					<h5 class="text-center uk-margin-remove-bottom">Смертей {#{{ page.info.stats.deaths_last }}#}</h5>
					<div class="charts-container">
						{% set chart = {'id': 'death', 'index': '2'} %}
						{% include 'parts/main/chart.tmpl' %}
					</div>
				</div>
				<!-- chart -->
				<div class="chart uk-box-shadow-medium" id="graph-3-container">
					<h5 class="text-center uk-margin-remove-bottom">Человек выздоровело {#{{ page.info.stats.recovered_last }}#}</h5>
					<div class="charts-container">
						{% set chart = {'id': 'recovered', 'index': '3'} %}
						{% include 'parts/main/chart.tmpl' %}
					</div>
				</div>
			</div>
	<!-- end grid -->
	</div>
</div>

<script>
var chart_1_y = [ {{ page.info.stats.confirmed }} ];
var chart_2_y = [ {{ page.info.stats.deaths }} ];
var chart_3_y = [ {{ page.info.stats.recovered }} ];
</script>

<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/snap.svg/0.3.0/snap.svg-min.js'></script>
<script src="/js/chart.js"></script>
