<div class="uk-child-width-expand@s" uk-grid>
	<div>
		<h1>Оперативные данные</h1>
		<span>По состоянию на 03.04</span>
	</div>
	<div>
		<!-- grid -->
		<div uk-grid>
			<div>
				<!-- chart -->
				<div class="chart" id="graph-1-container">
					<span>Случаев заболевания: 5</span>
					<div class="charts-container">
						{% set chart = {'id': 'confirmed', 'index': '1'} %}
						{% include 'parts/main/chart.tmpl' %}
					</div>
				</div>
			</div>
			<div>
				<!-- chart -->
				<div class="chart" id="graph-2-container">
					<span>Смертей: 2</span>
					<div class="charts-container">
						{% set chart = {'id': 'death', 'index': '2'} %}
						{% include 'parts/main/chart.tmpl' %}
					</div>
				</div>
			</div>
		</div>
	<!-- end grid -->
	</div>
</div>

<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/snap.svg/0.3.0/snap.svg-min.js'></script>
<script src="/js/chart.js"></script>
