<!DOCTYPE html>
<html lang="ru">
	{% include 'parts/head.tmpl' %}
	<body>
			{% include 'parts/navbar.tmpl' %}
			<div class="uk-container uk-padding">
				{% include 'pages/'~page.tag~'.tmpl' %}
			</div>
		{% include 'parts/footer.tmpl' %}
		{% include 'parts/scripts.tmpl' %}
	</body>
</html>
